<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carl.user.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.carl.user.model.User" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="STATUS_CODE" property="statusCode" jdbcType="VARCHAR" />
    <result column="STATUS_NAME" property="statusName" jdbcType="VARCHAR" />
    <result column="REGISTER_TIME" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="CURRENT_LOGIN_TIME" property="currentLoginTime" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="RETRY" property="retry" jdbcType="INTEGER" />
    <result column="LOCK_TIME" property="lockTime" jdbcType="TIMESTAMP" />
    <result column="REALNAME_FLAG" property="realnameFlag" jdbcType="VARCHAR" />
    <result column="TAX_AUTH_FLAG" property="taxAuthFlag" jdbcType="VARCHAR" />
    <result column="SITE_CODE" property="siteCode" jdbcType="VARCHAR" />
    <result column="BANK_MOBILE" property="bankMobile" jdbcType="VARCHAR" />
    <result column="NSRSBH" property="nsrsbh" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    USER_ID, LOGIN_NAME, PASSWORD, STATUS_CODE, STATUS_NAME, REGISTER_TIME, CURRENT_LOGIN_TIME, 
    LAST_LOGIN_TIME, RETRY, LOCK_TIME, REALNAME_FLAG, TAX_AUTH_FLAG, SITE_CODE, BANK_MOBILE, 
    NSRSBH
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.carl.user.model.UserExample" >
    <!--
      WARNING - @mbggenerated
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from f_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.carl.user.model.UserExample" >
    <!--
      WARNING - @mbggenerated
    -->
    delete from f_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.carl.user.model.UserExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
    -->
    select count(*) from f_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update f_user
    <set >
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.loginName != null" >
        LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.statusCode != null" >
        STATUS_CODE = #{record.statusCode,jdbcType=VARCHAR},
      </if>
      <if test="record.statusName != null" >
        STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      </if>
      <if test="record.registerTime != null" >
        REGISTER_TIME = #{record.registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.currentLoginTime != null" >
        CURRENT_LOGIN_TIME = #{record.currentLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastLoginTime != null" >
        LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.retry != null" >
        RETRY = #{record.retry,jdbcType=INTEGER},
      </if>
      <if test="record.lockTime != null" >
        LOCK_TIME = #{record.lockTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.realnameFlag != null" >
        REALNAME_FLAG = #{record.realnameFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.taxAuthFlag != null" >
        TAX_AUTH_FLAG = #{record.taxAuthFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.siteCode != null" >
        SITE_CODE = #{record.siteCode,jdbcType=VARCHAR},
      </if>
      <if test="record.bankMobile != null" >
        BANK_MOBILE = #{record.bankMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.nsrsbh != null" >
        NSRSBH = #{record.nsrsbh,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
    -->
    update f_user
    set USER_ID = #{record.userId,jdbcType=VARCHAR},
      LOGIN_NAME = #{record.loginName,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      STATUS_CODE = #{record.statusCode,jdbcType=VARCHAR},
      STATUS_NAME = #{record.statusName,jdbcType=VARCHAR},
      REGISTER_TIME = #{record.registerTime,jdbcType=TIMESTAMP},
      CURRENT_LOGIN_TIME = #{record.currentLoginTime,jdbcType=TIMESTAMP},
      LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      RETRY = #{record.retry,jdbcType=INTEGER},
      LOCK_TIME = #{record.lockTime,jdbcType=TIMESTAMP},
      REALNAME_FLAG = #{record.realnameFlag,jdbcType=VARCHAR},
      TAX_AUTH_FLAG = #{record.taxAuthFlag,jdbcType=VARCHAR},
      SITE_CODE = #{record.siteCode,jdbcType=VARCHAR},
      BANK_MOBILE = #{record.bankMobile,jdbcType=VARCHAR},
      NSRSBH = #{record.nsrsbh,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>