<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carl.user.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.carl.user.model.User" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="STATUS_CODE" property="statusCode" jdbcType="VARCHAR" />
    <result column="STATUS_NAME" property="statusName" jdbcType="VARCHAR" />
    <result column="REGISTER_TIME" property="registerTime" jdbcType="TIMESTAMP" />
    <result column="CURRENT_LOGIN_TIME" property="currentLoginTime" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="RETRY" property="retry" jdbcType="INTEGER" />
    <result column="LOCK_TIME" property="lockTime" jdbcType="TIMESTAMP" />
    <result column="REALNAME_FLAG" property="realnameFlag" jdbcType="VARCHAR" />
    <result column="TAX_AUTH_FLAG" property="taxAuthFlag" jdbcType="VARCHAR" />
    <result column="SITE_CODE" property="siteCode" jdbcType="VARCHAR" />
    <result column="BANK_MOBILE" property="bankMobile" jdbcType="VARCHAR" />
    <result column="NSRSBH" property="nsrsbh" jdbcType="VARCHAR" />
  </resultMap>
 
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    USER_ID, LOGIN_NAME, PASSWORD, STATUS_CODE, STATUS_NAME, REGISTER_TIME, CURRENT_LOGIN_TIME, 
    LAST_LOGIN_TIME, RETRY, LOCK_TIME, REALNAME_FLAG, TAX_AUTH_FLAG, SITE_CODE, BANK_MOBILE, 
    NSRSBH
  </sql>

</mapper>