<?xml version="1.0" encoding="UTF-8"?>  
    <beans xmlns="http://www.springframework.org/schema/beans"  
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
   xmlns:hdp="http://www.springframework.org/schema/hadoop"  
   xmlns:beans="http://www.springframework.org/schema/beans"  
   xsi:schemaLocation="  
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/hadoop http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">  
      <!-- 配置zookeeper的信息，远程连接hbase时使用 -->  
    <hdp:configuration resources="classpath:/hbase-site.xml" />  
    <!-- 下面的配置之所以这么写 是因为在http://www.springframework.org/schema/hadoop/spring-hadoop.xsd文件中定义了下面属性
     <xsd:attribute name="configuration-ref" default="hadoopConfiguration"> 
     另外还说明了下面的配置Bean id (default is "hbaseConfiguration")-->
    <hdp:hbase-configuration configuration-ref="hadoopConfiguration" />  
    <!-- 配置HbaseTemplate -->  
    <!--  -->
    <bean id="htemplate" class="org.springframework.data.hadoop.hbase.HbaseTemplate">  
        <property name="configuration" ref="hbaseConfiguration">  
        </property>  
    	<property name="encoding" value="UTF-8"></property>  
    </bean>  
 </beans> 